@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    <address>
        No 29 Makir Dzakpe way<br />
        Gboko west Benue state<br />
        <abbr title="Phone">P:</abbr>
        (+234) 810 888 7204
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:tatarprofessional@gmail.com">tatarprofessional@gmail.com</a><br />
        <strong>Join Team:</strong> <a href="mailto:tatarprofessional@gmail.com">xserverinputlog@gmail.com</a>
    </address>
</div>
