@{
    ViewBag.Title = "Home Page";
}
<section id="home">
    <div class="banner-container">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>
                <li data-target="#carousel" data-slide-to="6"></li>
                <li data-target="#carousel" data-slide-to="7"></li>
                <li data-target="#carousel" data-slide-to="8"></li>
                <li data-target="#carousel" data-slide-to="9"></li>
                <li data-target="#carousel" data-slide-to="10"></li>                
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="../images/banner-bg.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg2.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg3.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg4.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg5.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg6.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg7.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg8.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg9.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg10.jpg" alt="banner" /></div>
                <div class="item"><img src="../images/banner-bg11.jpg" alt="banner" /></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
        </div>

    </div>

    <div class="container hero-text2">
        <div class="col-md-9">
            <h2>Why Pixels?</h2>
            <p>pixels started as a hobby in the garage of the CEO which he further moved on to a new site.</p>
        </div>

    </div>
</section>
