@model ElectionPortal.Models.Post

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h2>Post Details</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PostName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="col-lg-3"></div>
</div>

