
@{
    ViewBag.Title = "Dashboard";
}

<div >
    <div class="header">
        <h1 class="page-header">
            Dashboard <small>Welcome Ako Tavershima</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Data</li>
        </ol>

    </div>

    <div>

        <!-- /. ROW  -->

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Number of registered candidates</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="82">
                            <span class="percent">82%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Number of passcodes produced</h4>
                        <div class="easypiechart" id="easypiechart-orange" data-percent="55">
                            <span class="percent">55%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Add Post</h4>
                        <div class="easypiechart" id="easypiechart-teal" data-percent="84">
                            <span class="percent">84%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Delete Post</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="46">
                            <span class="percent">46%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->


        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder blue">
                    <div class="panel-left pull-left blue">
                        <i class="fa fa-eye fa-5x"></i>

                    </div>
                    <div class="panel-right">
                        <h3>16,150</h3>
                        <strong> View Results</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder blue">
                    <div class="panel-left pull-left blue">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>

                    <div class="panel-right">
                        <h3>25,550 </h3>
                        <strong> Sales</strong>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder blue">
                    <div class="panel-left pull-left blue">
                        <i class="fa fa fa-comments fa-5x"></i>

                    </div>
                    <div class="panel-right">
                        <h3>11,225 </h3>
                        <strong> Comments </strong>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder blue">
                    <div class="panel-left pull-left blue">
                        <i class="fa fa-users fa-5x"></i>

                    </div>
                    <div class="panel-right">
                        <h3>72,525 </h3>
                        <strong>No. of Visits</strong>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>

